.toolbar {
  --paper-toolbar-background: url(/images/abstract.jpg) top left no-repeat;
}

:host ::content paper-input {
  --paper-input-container-color: var(--text-primary-color);
  --paper-input-container-input-color: var(--text-primary-color);
}

:host ::content .hover {
  opacity: 0.5;
}
