body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

video {
  margin-bottom: 10px;

  /* flip video horizontally */
  transform: scale(-1,1);
}

.video, .spacer {
  width: 30%;
}

.video.x2 {
  width: 45%;
}

.send-message {
  padding: 0 16px 6px 16px;
}

.small {
  font-size: 12px;
}

paper-toolbar#mainToolbar {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

paper-toolbar#mainToolbar.condensed {
  background: rgba(0, 0, 0, 0.8);
}

nav a {
  float: left;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background .3s ease-in-out;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.app-name .fa {
  color: #000;
}

.app-name .fa-inverse {
  color: #fff;
}

body.index {
  background: #000;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
}

section#intro {
  height: 100%;
  background: url(../images/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -192px;
  padding-top: 192px;
}

section .container {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
