<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Session running</title>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/lodash/lodash.min.js -->
  <script src="/bower_components/lodash/lodash.js"></script>
  <!-- endbuild -->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- build:js bower_components/webrtc-adapter/adapter.min.js -->
  <script src="/bower_components/webrtc-adapter/adapter.js"></script>
  <!-- endbuild -->

  <!-- build:js js/masonry.pkgd.min.js -->
  <script src="/js/masonry.pkgd.js"></script>
  <!-- endbuild -->

  <!-- build:js js/rtcpeerconnection.bundle.min.js -->
  <script src="/js/rtcpeerconnection.bundle.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="/elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles">
  </style>
</head>
<body unresolved class="fullbleed layout vertical">
  <template is="dom-bind" id="app">
    <paper-drawer-panel force-narrow id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel id="drawer" drawer fixed>

        <!-- Drawer Toolbar -->
        <profile-header id="profileHeader" user="{{me}}">
        </profile-header>

        <!-- Drawer Content -->
        <paper-menu class="list">
          <peer-list id="peerList"></peer-list>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>

          <!-- Toolbar icons -->
          <paper-icon-button icon="communication:call-end" on-click="onButtonLeaveClick"></paper-icon-button>

          <!-- Application name -->
          <div class="middle middle-container center horizontal layout">
            <div class="app-name">Sparks Beta</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">Add your friends with this url: blabla</div>
          </div>

        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <paper-material elevation="1">
            <div id="videos">
              <div class="video spacer"></div>
              <video id="localVideo" class="video x2" autoplay>Video stream not available.</video>
            </div>
          </paper-material>
          <div class="send-message horizontal layout">
              <paper-input class="flex" label="Type message..." id="input" value="{{input}}"></paper-input>
              <paper-fab icon="send" id="sendButton" on-tap="sendMyMessage"></paper-fab>
          </div>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>
    <paper-toast id="toast"></paper-toast>
  </template>

  <!-- build:js scripts/layout.min.js -->
  <script src="/js/layout.js"></script>
  <!-- endbuild-->

  <!-- build:js scripts/ui.min.js -->
  <script src="/js/ui.min.js"></script>
  <!-- endbuild-->

  <!-- build:js scripts/app.min.js -->
  <script src="/js/app.js"></script>
  <!-- endbuild-->
</body>
