<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Testing webcam</title>
  <script src="/bower_components/webrtc-adapter/adapter.js"></script>
</head>
<body>
  <video id="localVideo">Video stream not available.</video>
  <script>
  (function() {
    // == Step 1: setup local video stream == //
    navigator.getUserMedia({audio: true, video: true}, function(stream) {
      var video = document.getElementById("localVideo");
      video.src = window.URL.createObjectURL(stream);

      video.onloadedmetadata = function(e) {
        video.play();
      };
    }, function(err) {console.log("could not getUserMedia: " + err)});
  })();
  </script>
</body>
